.faq {
    padding: 50px 0 80px;
}

.faq .accordion {
    box-shadow: 0px 0px 20px 0px rgba(102, 102, 102, 0.199);
    border-radius: 25px;
    overflow: hidden;
}

.faq .sub-heading {
    color: #02b3b3;
    font-size: 20px;
}

@media(max-width:768px) {
    .faq {
        padding: 30px 0 40px;
    }
}