.header {
    background: #f5b01b;
    padding-bottom: 60px;
}

.header .logo {
    max-width: 160px;
}

.heading {
    background: #ffffff;

}

.navbar-collapse .nav-link {
    color: #42a7aa;
    font-size: 18px;
}