.banner {
    min-height: calc(100vh - 60px);
    background: url(../../../Assets/Images/banner-bg.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    position: relative;
}

.banner::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #ffffff6c;
}

.banner .container {
    position: relative;
    z-index: 999;
}

.banner-heading {
    color: #02b3b3;
}

.pp {
    color: #02b3b3;
}

.main-text {
    color: #02b3b3;
    font-size: 50px;
}

.slogan {
    font-size: 45px;
    color: #008a39;
}

.banner .explore-button {
    background: #02b3b3;
    border: 2px solid #02b3b3;
}

.banner .explore-button:hover {
    color: #bb8000;
    background: #ffffff18;
    font-weight: bold;
}

.banner .bottom-link {
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 999;
    display: inline-block;
    background: #02b3b3;
    padding: 10px;
    border-radius: 20px;
}

.banner .bottom-link .arrow {
    color: #ffffff;
    transition: all 0.2s;
}

.banner .bottom-link:hover .arrow {
    transform: scale(1.2);
}

@media(max-width: 991px) {
    .banner .bottom-link {
        display: none;
    }

    .main-text {
        font-size: 30px;
    }

    .slogan {
        font-size: 25px;
    }

    .h4 {
        font-size: 18px;
    }
}