.banner {
    min-height: calc(100vh - 60px);
    background: url(../../../Assets/Images/banner-bg.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    position: relative;
}

.banner::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #ffffff6c;
}

.banner .container {
    position: relative;
    z-index: 999;
}

.banner-heading {
    color: #02b3b3;
}

.pp {
    color: #02b3b3;
}

.main-text {
    color: #02b3b3;
    font-size: 50px;
}

.slogan {
    font-size: 45px;
    color: #008a39;
}

.banner .explore-button {
    background: #2b9191;
    transition: all 0.3s;
}

.banner .explore-button:hover {
    background: #741cd8;
    position: relative;
}