.section-header {
  font-size: 45px;
  color: #f5b01b;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.section-header::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 80%;
  height: 4px;
  background: #02b3b3;
}